.slidermargin{margin-top:100px !important;}
.bgshahamb1{ background-color:#e51d3a;}
.bgshahamb2{ background-color:#003361;}
.colorprimary{color:#e51d3a}
.colorwhite{ color:#FFF;}
.btn-themered{ color:#FFF; background-color:#e51d3a; border-color:#e51d3a;}
.frmhead h1 span {
    background: red;
    color: #fff;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 60px;
}

.modal h1 span {
    background: red;
    color: #fff;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 60px;
}

.frmhead .card-header {
    padding: 10px 5px 10px 5px;
    background-color: #003361;
}

.main-menu .navigation>li>ul>li>a {
    padding: 9px 0px 9px;
}

.main-menu .navigation>li>ul>li {
    padding: 0px 0px 0px 9px;
}

.pop {
    position: fixed;
    margin-bottom: 0px;
    right: 0px;
    bottom: 120px;
    z-index: 99;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: example;
}

.pop1 {
    position: fixed;
    margin-bottom: 0px;
    right: 0px;
    bottom: 220px;
    z-index: 99;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: example;
}
.icon-checked{ color:#F00;}

.tags .btn{ margin:5px; font-size:12px;}

.footer-widget-quote-box .call{font-size:23px; text-align:center !important;}

.footer-social-link {
    /* padding-bottom: 65px; */
}

 /*counter*/
 
 .flex {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        
       .flex div {
    /*width: 200px;
    height: 200px;*/
	min-height: 217px;
    padding: 50px 0;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    background: #e51d3a;
    color: #fff;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.flex h1,h3{ color:#FFF;}
.flex h1{ display:inline !important;}
.flex h3{ display:block;}
		
		/*counter End*/
		
		





@media only screen and (max-width: 600px) {
.slidermargin{margin-top:10px !important;}
.footer-widget-quote-box .call{font-size:28px; text-align:center !important;}
.footer-social-link {padding-bottom: 70px !important;}
}